.container {
  display: flex;
  background-color: #f9fafb;
  color: #111827;
  min-height: 100vh;
}

.menu {
  flex: 1;
  background-color: white;
  padding: 20px;
  min-height: 100vh;
  border-right: 1px solid #e5e7eb;
}

.content {
  flex: 4;
  padding: 20px;
  background-color: #f9fafb;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.side {
  flex: 1;
}