.page{
    min-height:100vh;
    background:white;
}
.section{
    padding:7rem 1.5rem;
}
.container{
    max-width:72rem;
    margin: 0 auto;
}
.center{
    text-align:center;
}

.title{
    font-size:3rem;
    font-weight:700;
    margin-bottom:2rem;
}
.title-dark{
    color:#1e3a8a;
}
.title-light{
    color:#559ef7;
}
.subtitle{
    font-size:1.875rem;
    font-weight:600;
    color:#1f2937;
    margin-bottom:1.5rem;
}
.text{
    font-size:1.125rem;
    line-height:1.625;
    color:#4b5563;
}
.grid-2{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}
.grid-3{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
}
.gap{
    gap:2rem; 
}
.items-center{
    align-items:center; 
}

.image-wrapper{ 
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 15px 30px 2px rgba(0,0,0,0.25);
}
.image{
    object-fit: cover;
}
.feature-card{
    padding: 2rem;
    border-radius: 1rem;
    background: #eff6ff;
    text-align: center;
}
.feature-icon{
    width: 3.5rem;
    height: 3.5rem;
    background: #3b82f6;
    color: white;
    font-size: 2rem;
    line-height: 3.5rem;
    margin: 0 auto 1rem;
    border-radius: 0.5rem;
}
.feature-title{ 
    font-weight: 700; 
    font-size: 1.25rem; 
    margin-bottom: 0.75rem; 
}
