/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #151c2c; 
  color: white; 
}

a {
  color: inherit;
  text-decoration: none;
} */


/* src/app/ui/globals.css */
/* src/app/ui/globals.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white; /* Light theme for the main website */
  color: black; 
}

a {
  color: inherit;
  text-decoration: none;
}