.container {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  border-radius: 10px;
  color: #107ecc;         
  background-color: white; 
  cursor: pointer;
  transition: 0.3s ease;
}

.container:hover,
.active {
  background-color: #66a7e4; 
  color: #010101;            
}
