.container {
    background-color: #1A1F37; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .title {
    font-size: 20px;
    font-weight: 600;
    color: #A0AEC0;
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse; 
  }
  
  .table td {
    padding: 10px;
  }
  
  
  .table th {
    text-align: left;
    padding: 10px;
    font-size: 14px;
    color: #A0AEC0; 
    font-weight: 500;
  }
  

  .doctor {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .userImage {
    border-radius: 50%;
    object-fit: cover;
  }
  
  .doctorDetails {
    display: flex;
    flex-direction: column;
  }
  
  .doctorName {
    font-size: 14px;
    font-weight: 500;
    color: white;
  }
  
  .doctorSpecialtySmall {
    font-size: 12px;
    color: #718096;
  }
  
  
  .date, .type {
    font-size: 14px;
    color: white;
  }
  

  .status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    width: fit-content;
  }
  
  .confirmed {
    background-color: #6D28D9; 
    color: white;
  }
  
  .pending {
    background-color: #f59e0b; 
    color: white;
  }
  
  .cancelled {
    background-color: #ef4444; 
    color: white;
  }