.container {
  background-color: white; /* Primary color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.08);
  border: 1px solid #e6f4ff; /* Subtle blue border */
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #107ecc; /* Blue title */
  margin-bottom: 20px;
}

  .status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    width: fit-content;
  }

  .confirmed {
    background-color: #6D28D9;
    color: white;
  }

  .pending {
    background-color: #f59e0b;
    color: white;
  }

  .cancelled {
    background-color: #ef4444;
    color: white;
  }

  .noData {
    text-align: center;
    padding: 20px;
    color: #718096;
    font-size: 14px;
  }
