/* *{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */

.profile-container {
    display: flex;
    min-height: 100vh;
    background: #f3f3f3;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 300px;
    background: #107ecc;
    padding: 25px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    height: 100vh;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 60px;
}

.content {
    flex: 1;    
    margin-left: 300px;    
    height: 100vh;
    overflow-y: auto;  
    padding: 30px;
    box-sizing: border-box;
    color: black;
}

.user-info{
    margin-bottom: 40px;
}

.navigators button {
    padding: 20px;
    border: none;
    background: #107ecc;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    transition: transform 0.25s ease;
    color: white;
}

.navigators button:hover {
    transform: translateY(-3px);
}

.navigators button::after {
    content: "";
    position: absolute;
    left: 20px; 
    bottom: 8px; 
    height: 2px;
    background: white;
    width: 0;
    transition: width 0.25s ease;
}

.navigators button:hover::after {
    width: calc(100% - 40px); 
}

